<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>for i in front50 clouddriver rosco igor orca gate igor
do
	docker pull quay.io/spinnaker/$i
    docker tag quay.io/spinnaker/$i spinnaker-registry:5000/$i
    docker push spinnaker-registry:5000/$i
    docker rmi spinnaker-registry:5000/$i
    docker rmi quay.io/spinnaker/$i
done</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>